version: '3.8'

services:
  postgres:
    image: postgres:13
    env_file: ./docker/postgres.env
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    env_file: ./docker/pgadmin.env
    ports:
      - "5050:80"
    volumes:
      # Chargement auto de la config serveur
      - ./docker/pgadmin_servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres

  backend:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    env_file: ./docker/backend.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.dockerfile
    env_file: ./docker/frontend.env
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pg_data: